LASTFM_API_KEY=<your_lastfm_api_key>
LASTFM_USER=<the_username_you_want_to_sync_with>

SPOTIPY_CLIENT_ID=<your_spotify_client_id>
SPOTIPY_CLIENT_SECRET=<your_spotify_client_secret>

#remove <content in here> and replace it with your content.
